<!DOCTYPE html>
html
	include tmp/_head
	body
		include tmp/_header
		main.inner-page
			.main-banner
				.wrapper
					.row.middle-lg.middle-md
						.banner__left-item.col-lg-6.col-md-6
							.breadcrumbs
								ul
									li
										a(href="#") Главная
									li
										span Общая информация
							.title-page Общая информация
			.wrapper
				.block-about
					.title-block Velton Telecom - одна из первых негосударственных
						br
						| телекоммуникационных компаний в Украине
					.about-text
						p ООО «Велтон.Телеком» (зарегистрировано исполнительным комитетом Харьковского городского совета 01.08.07г. Номер записи в Едином государственном реестре юридических лиц и физических лиц - предпринимателей 1 480 136 0000 037110. Местонахождение: 61002, Харьковская обл., г. Харьков, ул. Сумская, 50) является одной из первых негосударственных телекоммуникационных компаний в Украине. Решением Национальной комиссии по вопросам регулирования связи Украины от 13.09.07г. № 934, ООО «Велтон.Телеком» внесено в реестр операторов, провайдеров телекоммуникаций под № 850 и осуществляет свою деятельность на рынке телекоммуникаций на основании лицензий, выданных Национальной комиссией, осуществляющей государственное регулирование в сфере связи и информатизации (№ 000745 срок действия до 16.08.22 г. и № 000808 срок действия до 18.10.22 г.).
						p В процессе оказания услуг Компания руководствуется нормативными документами, действующими в сфере телекоммуникаций:
							a(href="#") Законом Украины «О телекоммуникациях»
							|  ,
							a(href="#") Правилами предоставления и получения телекоммуникационных услуг
							|  ,
							a(href="#") Основными требованиями к договору о предоставлении телекоммуникационных услуг
							|  , а также Законом Украины
							a(href="#") «О защите персональных данных»
							| .
					.title-about Специалисты Velton Telecom окажут профессиональные услуги для развития бизнеса в области:
					ul.application-area
						li.application-area__item
							.application-area__image
								img(src="assets/images/ap-1.png", alt="#")
							.application-area__name Промышленные предприятия
						li.application-area__item
							.application-area__image
								img(src="assets/images/ap-2.png", alt="#")
							.application-area__name ТЭК
						li.application-area__item
							.application-area__image
								img(src="assets/images/ap-3.png", alt="#")
							.application-area__name Банки
						li.application-area__item
							.application-area__image
								img(src="assets/images/ap-4.png", alt="#")
							.application-area__name Государтсвенные учреждения
						li.application-area__item
							.application-area__image
								img(src="assets/images/ap-5.png", alt="#")
							.application-area__name Другие отрасли
					.about-text
						p Сегодня Компания активно развивает телекоммуникационные сети в целом ряде городов Украины. Строительство сетей ведется с учетом самых передовых разработок и достижений в области телекоммуникаций. Располагая обширной медной и оптоволоконной сетью, Компания может быстро и эффективно предоставить широкий спектр высококачественных услуг при условии использования абонентом сертифицированного телекоммуникационного оборудования.
						p Высокое качество телекоммуникационных услуг, предоставляемых Компанией, обеспечивается за счет использования оборудования и материалов ведущих мировых производителей, а также профессионализма ее технического персонала.
					//.block-resource
					//	.resource-item
					//		.resource-item__container
					//			.resource-item__info
					//				.resource-item__title Сайт самообслуживания
					//				.resource-item__text При помощи сайта самообслуживания абоненты Velton могут изменять перечень и параметры используемых услуг, а также просматривать детальную информацию об уже потребленных услугах, состоянии счета и произведенных платежах. Для удобства пользователей совершенствуются существующие и внедряются новые способы оплаты услуг связи – с помощью систем Интернет – расчетов и on-line каналов.
					//				a(href="#").btn.btn-modal На сайт самообслуживания
					.block-advantages
						.title-block Преимущества работы с Velton Telecom
						ul.row.center-sm
							li.advantages-item.col-lg-2.col-md-3.col-sm-4.col-xs-6
								.advantages-item__container
									.advantages-item__image
										img(src="assets/images/icons/1993.svg", alt="#")
									.advantages-item__info Опыт работы
										br
										| с 1993 года
							li.advantages-item.col-lg-2.col-md-3.col-sm-4.col-xs-6
								.advantages-item__container
									.advantages-item__image
										img(src="assets/images/icons/adv-2.png", alt="#")
									.advantages-item__info Современное оборудование и технологии
							li.advantages-item.col-lg-2.col-md-3.col-sm-4.col-xs-6
								.advantages-item__container
									.advantages-item__image
										img(src="assets/images/icons/adv-3.png", alt="#")
									.advantages-item__info Профессионализм персонала
							li.advantages-item.col-lg-2.col-md-3.col-sm-4.col-xs-6
								.advantages-item__container
									.advantages-item__image
										img(src="assets/images/icons/innovation.svg", alt="#")
									.advantages-item__info Инновационный подход к работе
							li.advantages-item.col-lg-2.col-md-3.col-sm-4.col-xs-6
								.advantages-item__container
									.advantages-item__image
										img(src="assets/images/icons/support.svg", alt="#")
									.advantages-item__info Надёжная поддержка
							li.advantages-item.col-lg-2.col-md-3.col-sm-4.col-xs-6
								.advantages-item__container
									.advantages-item__image
										img(src="assets/images/icons/pay.svg", alt="#")
									.advantages-item__info Возможность онлайн-оплаты
					.title-about Наши партнёры
					.about-text
						p Компания Velton Telecom предоставляет широкий спектр услуг в области передачи данных и Интернет, как для физических, так и для юридических лиц. Для обеспечения высокого качества услуг передачи данных и Интернет Компания использует оборудование ведущих производителей, таких как Cisco, Alcatel, Lucent Technologies и др.
					ul.partners.row
						li.col-lg-3.col-md-3.col-sm-6.col-xs-12
							.partners-image
								img(src="assets/images/part-1.png", alt="#")
						li.col-lg-3.col-md-3.col-sm-6.col-xs-12
							.partners-image
								img(src="assets/images/part-2.png", alt="#")
						li.col-lg-3.col-md-3.col-sm-6.col-xs-12
							.partners-image
								img(src="assets/images/part-3.png", alt="#")
						li.col-lg-3.col-md-3.col-sm-6.col-xs-12
							.partners-image
								img(src="assets/images/part-4.png", alt="#")
					.title-about Наши сертификаты
					.about-text
						p Наши клиенты ценят в нас, прежде всего, надежность, которая обеспечивается на всех уровнях: в работе оборудования, в продуктивности предлагаемых нами решений, и в профессиональном сервисе, как при настройке оборудования, так и в последующей его эксплуатации.
					ul.sertificates
						li.sertificates-item
							a(href="assets/images/sert.png", data-fancybox="group").sertificates-item__image
								img(src="assets/images/sert.png", alt="#")
							.sertificates-name Сертификат на систему управления качеством
						li.sertificates-item
							a(href="assets/images/sert.png", data-fancybox="group").sertificates-item__image
								img(src="assets/images/sert.png", alt="#")
							.sertificates-name Сертификат на систему управления качеством
						li.sertificates-item
							a(href="assets/images/sert.png", data-fancybox="group").sertificates-item__image
								img(src="assets/images/sert.png", alt="#")
							.sertificates-name Сертификат на систему управления качеством
						li.sertificates-item
							a(href="assets/images/sert.png", data-fancybox="group").sertificates-item__image
								img(src="assets/images/sert.png", alt="#")
							.sertificates-name Сертификат на систему управления качеством
						li.sertificates-item
							a(href="assets/images/sert.png", data-fancybox="group").sertificates-item__image
								img(src="assets/images/sert.png", alt="#")
							.sertificates-name Сертификат на систему управления качеством
		include tmp/_footer