<!DOCTYPE html>
html
	include tmp/_head
	body
		include tmp/_header
		main.inner-page
			.main-banner
				.wrapper
					.row.middle-lg
						.banner__left-item.col-lg-8.col-md-8
							.breadcrumbs
								ul
									li
										a(href="#") Главная
									li
										a(href="#") Услуги Интернет
									li
										a(href="#") Детальная информация об услуге Интернет
									li
										span Документы
							.title-page Документы
			.wrapper.main-documents
				ul.service-documents.row
					li.service-documents__doc.col-lg-4.col-md-6.col-sm-6
						a(href="#").service-documents__container
							.service-documents__image
								img(src="assets/images/doc1.png", alt="#")
							.service-documents__name Договор о предоставлении телекоммуникационных услуг (доступ к МСУД)
					li.service-documents__doc.col-lg-4.col-md-6.col-sm-6
						a(href="#").service-documents__container
							.service-documents__image
								img(src="assets/images/doc2.png", alt="#")
							.service-documents__name Приложение к договору о предоставлении телекоммуникационных услуг (доступ к МСУД) на предоставление телефонного номера
					li.service-documents__doc.col-lg-4.col-md-6.col-sm-6
						a(href="#").service-documents__container
							.service-documents__image
								img(src="assets/images/doc2.png", alt="#")
							.service-documents__name Договор о предоставлении телекоммуникационных услуг (доступ к МСУД), заключаемый с временным абонентом
					li.service-documents__doc.col-lg-4.col-md-6.col-sm-6
						a(href="#").service-documents__container
							.service-documents__image
								img(src="assets/images/doc1.png", alt="#")
							.service-documents__name Приложение к договору о предоставлении телекоммуникационных услуг (доступ к МСУД), заключаемому с временным абонентом
					li.service-documents__doc.col-lg-4.col-md-6.col-sm-6
						a(href="#").service-documents__container
							.service-documents__image
								img(src="assets/images/doc2.png", alt="#")
							.service-documents__name Договор о предоставлении телекоммуникационных услуг (передача данных и Интернет)
					li.service-documents__doc.col-lg-4.col-md-6.col-sm-6
						a(href="#").service-documents__container
							.service-documents__image
								img(src="assets/images/doc1.png", alt="#")
							.service-documents__name Договор, предусматривающий выдачу абоненту технических условий на строительство сооружений связи


		include tmp/_footer