<!DOCTYPE html>
html
	include tmp/_head
	body
		include tmp/_header
		main.inner-page
			.main-banner
				.wrapper
					.row.middle-lg
						.banner__left-item.col-lg-8.col-md-8
							.breadcrumbs
								ul
									li
										a(href="#") Главная
									li
										a(href="#") Услуги Интернет
									li
										span Документы
							.title-page Документы
			.wrapper
				.block-page-service
					ul.service-menu.row
						li.col-lg-2
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-1.png", alt="#")
								a(href="#services1") Универсальный порядок оказания услуг
						li.col-lg-2
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-2.png", alt="#")
								a(href="#services2") Заявление на подключение
						li.col-lg-2
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-3.png", alt="#")
								a(href="#services3") Тарифы
						li.col-lg-2.active
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-4.png", alt="#")
								a(href="#services4") Документы
						li.col-lg-2
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-5.png", alt="#")
								a(href="#services5") Персональная карта абонента
						li.col-lg-2
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-6.png", alt="#")
								a(href="#services6") Технические дилеры
					.service-info
						.service-info__content
							.service-info__title Перечень документов
								.service-info__sub Ниже представлен перечень документов для ознакомления
							ul.service-documents.row
								li.service-documents__doc.col-lg-4.col-md-6.col-sm-6
									a(href="#").service-documents__container
										.service-documents__image
											img(src="assets/images/doc1.png", alt="#")
										.service-documents__name Договор о предоставлении телекоммуникационных услуг (доступ к МСУД)
								li.service-documents__doc.col-lg-4.col-md-6.col-sm-6
									a(href="#").service-documents__container
										.service-documents__image
											img(src="assets/images/doc2.png", alt="#")
										.service-documents__name Приложение к договору о предоставлении телекоммуникационных услуг (доступ к МСУД) на предоставление телефонного номера
								li.service-documents__doc.col-lg-4.col-md-6.col-sm-6
									a(href="#").service-documents__container
										.service-documents__image
											img(src="assets/images/doc1.png", alt="#")
										.service-documents__name Договор о предоставлении телекоммуникационных услуг (доступ к МСУД), заключаемый с временным абонентом
								li.service-documents__doc.col-lg-4.col-md-6.col-sm-6
									a(href="#").service-documents__container
										.service-documents__image
											img(src="assets/images/doc2.png", alt="#")
										.service-documents__name Приложение к договору о предоставлении телекоммуникационных услуг (доступ к МСУД), заключаемому с временным абонентом
								li.service-documents__doc.col-lg-4.col-md-6.col-sm-6
									a(href="#").service-documents__container
										.service-documents__image
											img(src="assets/images/doc1.png", alt="#")
										.service-documents__name Договор о предоставлении телекоммуникационных услуг (передача данных и Интернет)
								li.service-documents__doc.col-lg-4.col-md-6.col-sm-6
									a(href="#").service-documents__container
										.service-documents__image
											img(src="assets/images/doc1.png", alt="#")
										.service-documents__name Договор, предусматривающий выдачу абоненту технических условий на строительство сооружений связи


		include tmp/_footer