<!DOCTYPE html>
html
	include tmp/_head
	body
		include tmp/_header
		main
			.main-banner
				.wrapper
					.row.middle-lg.middle-md
						.banner__left-item.col-lg-6.col-md-6.col-sm-12
							.title-page Высокоскоростной Интернет по цене от 130 грн.
							a(href="#").btn.btn-order заказать услугу
						.banner__right-item.col-md-6.col-sm-6
							img(src="assets/images/test-banner.png", alt="#")
					.block-services
						ul.row.center-sm
							li.services-item.col-lg-4.col-md-4.col-sm-6.col-xs-12
								a(href="#").services-item__container
									.services-item__image
										img(src="assets/images/icons/internet.svg", alt="#")
									.services-item__title Подключиться к Интернет
							li.services-item.col-lg-4.col-md-4.col-sm-6.col-xs-12
								a(href="#").services-item__container
									.services-item__image
										img(src="assets/images/icons/telephonia.svg", alt="#")
									.services-item__title Подключиться к телефонии
							li.services-item.col-lg-4.col-md-4.col-sm-6.col-xs-12
								a(href="#").services-item__container
									.services-item__image
										img(src="assets/images/icons/pay-online.svg", alt="#")
									.services-item__title Оплатить онлайн
			.block-rates
				.title-block Тарифы на услуги Интернет
				.wrapper
					.row.center-sm.center-xs
						.rates-item.popullar-rates.col-lg-3.col-md-3.col-sm-6.col-xs-6
							.rates-item__container
								.rates-item__image
									img(src="assets/images/p-1.png", alt="")
									.rates-item__price
										span.price 130
											small  грн/мес
								.rates-item__options
									ul
										li
											span.name-item Скорость
											span.speed-item до 100 Мбит/с
										li Без платы за подключение
											span.sub-info (при наличии тех. возможности)
										li Подключение за 1 рабочий день
											span.sub-info (при наличии тех. возможности)
										li Без внесения аванса
										li Возможность заказа статического IP-адреса
										li Возможность подключения услуг SIP-телефонии
								.rates-item__order
									a(href="#").btn.btn-rates.js-rates-hover Заказать услугу
						.rates-item.col-lg-3.col-md-3.col-sm-6.col-xs-6
							.rates-item__container
								.rates-item__image
									img(src="assets/images/p-2.png", alt="")
									.rates-item__price
										span.price 150
											small  грн/мес
								.rates-item__options
									ul
										li
											span.name-item Скорость
											span.speed-item 10 Мбит/с
										li Без платы за подключение
											span.sub-info (при наличии тех. возможности)
										li Подключение за 1 рабочий день
											span.sub-info (при наличии тех. возможности)
										li Без внесения аванса
										li Возможность заказа статического IP-адреса
										li Возможность подключения услуг SIP-телефонии
								.rates-item__order
									a(href="#").btn.btn-rates.js-rates-hover Заказать услугу
						.rates-item.col-lg-3.col-md-3.col-sm-6.col-xs-6
							.rates-item__container
								.rates-item__image
									img(src="assets/images/p-3.png", alt="")
									.rates-item__price
										span.price 300
											small  грн/мес
								.rates-item__options
									ul
										li
											span.name-item Скорость
											span.speed-item 25 Мбит/с
										li Без платы за подключение
											span.sub-info (при наличии тех. возможности)
										li Подключение за 1 рабочий день
											span.sub-info (при наличии тех. возможности)
										li Без внесения аванса
										li Возможность заказа статического IP-адреса
										li Возможность подключения услуг SIP-телефонии
								.rates-item__order
									a(href="#").btn.btn-rates.js-rates-hover Заказать услугу
						.rates-item.col-lg-3.col-md-3.col-sm-6.col-xs-6
							.rates-item__container
								.rates-item__image
									img(src="assets/images/p-4.png", alt="")
									.rates-item__price
										span.price 750
											small  грн/мес
								.rates-item__options
									ul
										li
											span.name-item Скорость
											span.speed-item 50 Мбит/с
										li Без платы за подключение
											span.sub-info (при наличии тех. возможности)
										li Подключение за 1 рабочий день
											span.sub-info (при наличии тех. возможности)
										li Без внесения аванса
										li Возможность заказа статического IP-адреса
										li Возможность подключения услуг SIP-телефонии
								.rates-item__order
									a(href="#").btn.btn-rates.js-rates-hover Заказать услугу
			.wrapper
				.block-request
					.row.middle-lg.middle-sm.middle-md.center-xs
						.logo.col-lg-2.col-md-3.col-sm-3
							img(src="images/logo-header.svg", alt="#")
						.request-info.col-lg-6.col-md-6.col-sm-6 Готовы оформить заявку на предоставление услуги? Заполните форму, мы свяжемся с Вами!
						.request-group.col-lg-4.col-md-3.col-sm-3
							a(href="#").btn.btn-modal Заказать звонок
							a(href="#").btn.btn-subscribe Заполнить заявку
			.block-resource
				.wrapper
					.row.center-sm
						.resource-item.self-service.col-lg-6.col-md-6.col-sm-12
							.resource-item__container
								.resource-item__image
									img(src="assets/images/1.jpg", alt="#")
								.resource-item__info
									.resource-item__icon
									.resource-item__title Сайт самообслуживания
									a(href="#").btn.btn-over Перейти
						.resource-item.online-pay.col-lg-6.col-md-6.col-sm-12
							.resource-item__container
								.resource-item__image.figure-two
									img(src="assets/images/2.jpg", alt="#")
								.resource-item__info
									.resource-item__icon
									.resource-item__title Оплатить онлайн
									a(href="#").btn.btn-over Перейти
			.block-advantages
				.wrapper
					.title-block Почему мы
					ul.row.center-md
						li.advantages-item.col-lg-2.col-md-3.col-sm-4.col-xs-6
							.advantages-item__container
								.advantages-item__image
									img(src="assets/images/icons/1993.svg", alt="#")
								.advantages-item__info Опыт работы
										br
										| с 1993 года
						li.advantages-item.col-lg-2.col-md-3.col-sm-4.col-xs-6
							.advantages-item__container
								.advantages-item__image
									img(src="assets/images/icons/adv-2.png", alt="#")
								.advantages-item__info Современное оборудование и технологии
						li.advantages-item.col-lg-2.col-md-3.col-sm-4.col-xs-6
							.advantages-item__container
								.advantages-item__image
									img(src="assets/images/icons/adv-3.png", alt="#")
								.advantages-item__info Профессионализм персонала
						li.advantages-item.col-lg-2.col-md-3.col-sm-4.col-xs-6
							.advantages-item__container
								.advantages-item__image
									img(src="assets/images/icons/innovation.svg", alt="#")
								.advantages-item__info Инновационный подход к работе
						li.advantages-item.col-lg-2.col-md-3.col-sm-4.col-xs-6
							.advantages-item__container
								.advantages-item__image
									img(src="assets/images/icons/support.svg", alt="#")
								.advantages-item__info Надёжная поддержка
						li.advantages-item.col-lg-2.col-md-3.col-sm-4.col-xs-6
							.advantages-item__container
								.advantages-item__image
									img(src="assets/images/icons/pay.svg", alt="#")
								.advantages-item__info Возможность онлайн-оплаты
			.block-cameras
				.wrapper
					.title-block.cameras-title WEB-камеры по городам Украины
					.center-sm.js-slider-web
						a(href="#").cameras-item
							.cameras-item__container
								.cameras-item__image
									img(src="assets/images/cam-1.png", alt="#")
								.cameras-item__title Харьков
									span Полощать Свободы
						a(href="#").cameras-item
							.cameras-item__container
								.cameras-item__image
									img(src="assets/images/cam-2.png", alt="#")
								.cameras-item__title Харьков
									span Фонтан "Зеркальная струя"
						a(href="#").cameras-item
							.cameras-item__container
								.cameras-item__image
									img(src="assets/images/c-3.png", alt="#")
								.cameras-item__title Харьков
									span Детская футбольная академия
						a(href="#").cameras-item
							.cameras-item__container
								.cameras-item__image
									img(src="assets/images/c-4.png", alt="#")
								.cameras-item__title одесса
									span Екатерининская площадь
						a(href="#").cameras-item
							.cameras-item__container
								.cameras-item__image
									img(src="assets/images/c-4.png", alt="#")
								.cameras-item__title одесса
									span Екатерининская площадь
			.block-seo
				.wrapper
					.seo-title Velton Telecom и мировой рынок
					p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
					p Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur".
					.seo-sub-title Постройте универсальную телекоммуникационную сеть компании вместе с нами!
					p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.


		include tmp/_footer