<!DOCTYPE html>
html
	include tmp/_head
	body
		include tmp/_header
		main.inner-page
			.main-banner
				.wrapper
					.row.middle-lg.middle-md
						.banner__left-item.col-lg-5.col-md-5
							.breadcrumbs
								ul
									li
										a(href="#") Главная
									li
										a(href="#") Услуги
									li
										span Интернет
							.title-page Высокоскоростной Интернет от 130 грн.
						.banner__right-item.col-md-7
							img(src="assets/images/test-banner2.png", alt="#")
			.wrapper
				.block-internet
					ul.tabs.row
						li.col-lg-4.col-md-4.col-sm-4.popullar-rates
							a(href="#tarif1") до 100 Мбит/c
						li.col-lg-4.col-md-4.col-sm-4
							a(href="#tarif2") 10 Мбит/с
						li.col-lg-4.col-md-4.col-sm-4
							a(href="#tarif3") 25 Мбит/с
					.tab-content
						.tab-pane(id="tarif1")
							ul.internet
								li.internet-items
									.internet-items__image
										img(src="assets/images/icons/1.png", alt="#")
									.internet-items__info
										span.text-p Без платы
										|  за подключение
										span.sub-info  (при наличии тех. возможности)
								li.internet-items
									.internet-items__image
										img(src="assets/images/cal.png", alt="#")
									.internet-items__info Подключение
										span.text-p  за 1 день
										span.sub-info (при наличии тех. возможности)
								li.internet-items
									.internet-items__image
										img(src="assets/images/icons/2.png", alt="#")
									.internet-items__info
										span.text-p Без
										|  внесения
										span.text-p  аванса
								li.internet-items
									.internet-items__image
										img(src="assets/images/icons/3.png", alt="#")
									.internet-items__info Возможность заказа статического
										span.text-p  IP-адреса
								li.internet-items
									.internet-items__image
										img(src="assets/images/icons/4.png", alt="#")
									.internet-items__info Возможность подключения услуг
										span.text-p  SIP-телефонии
							.feedback-internet
								.price-block 130 грн/месяц
								a(href="#").btn.btn-modal Заказать услугу
						.tab-pane(id="tarif2")
							ul.internet
								li.internet-items
									.internet-items__image
										img(src="assets/images/icons/1.png", alt="#")
									.internet-items__info
										span.text-p Без платы
										|  за подключение
										span.sub-info  (при наличии тех. возможности)
								li.internet-items
									.internet-items__image
										img(src="assets/images/cal.png", alt="#")
									.internet-items__info Подключение
										span.text-p  за 1 день
										span.sub-info (при наличии тех. возможности)
								li.internet-items
									.internet-items__image
										img(src="assets/images/icons/2.png", alt="#")
									.internet-items__info
										span.text-p Без
										|  внесения
										span.text-p  аванса
								li.internet-items
									.internet-items__image
										img(src="assets/images/icons/3.png", alt="#")
									.internet-items__info Возможность заказа статического
										span.text-p  IP-адреса
								li.internet-items
									.internet-items__image
										img(src="assets/images/icons/4.png", alt="#")
									.internet-items__info Возможность подключения услуг
										span.text-p  SIP-телефонии
							.feedback-internet
								.price-block 130 грн/месяц
								a(href="#").btn.btn-modal Заказать услугу
						.tab-pane(id="tarif3")
							ul.internet
								li.internet-items
									.internet-items__image
										img(src="assets/images/icons/1.png", alt="#")
									.internet-items__info
										span.text-p Без платы
										|  за подключение
										span.sub-info  (при наличии тех. возможности)
								li.internet-items
									.internet-items__image
										img(src="assets/images/cal.png", alt="#")
									.internet-items__info Подключение
										span.text-p  за 1 день
										span.sub-info (при наличии тех. возможности)
								li.internet-items
									.internet-items__image
										img(src="assets/images/icons/2.png", alt="#")
									.internet-items__info
										span.text-p Без
										|  внесения
										span.text-p  аванса
								li.internet-items
									.internet-items__image
										img(src="assets/images/icons/3.png", alt="#")
									.internet-items__info Возможность заказа статического
										span.text-p  IP-адреса
								li.internet-items
									.internet-items__image
										img(src="assets/images/icons/4.png", alt="#")
									.internet-items__info Возможность подключения услуг
										span.text-p  SIP-телефонии
							.feedback-internet
								.price-block 130 грн/месяц
								a(href="#").btn.btn-modal Заказать услугу
				.block-features
					.title-block Подключившись к Интернету, Вы получите
					.row
						.features-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
							.features-item__container
								.features-item__image
									img(src="assets/images/icons/feat-1.png", alt="#")
								.features-item__content
									.features-item__title Услуги с использованием передовых технологий
									| Доступ к сети Интернет осуществляется по оптоволоконной технологии FTTH..
						.features-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
							.features-item__container
								.features-item__image
									img(src="assets/images/icons/feat-2.png", alt="#")
								.features-item__content
									.features-item__title Доступ без ограничения скорости и объема трафика
									| Скорость ограничена только максимальной скоростью Вашего порта, характеристиками Вашего оборудования и возможностями ресурса, с которым Вы взаимодействуете. Объем потребляемого трафика не ограничен.
						.features-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
							.features-item__container
								.features-item__image
									img(src="assets/images/icons/feat-3.png", alt="#")
								.features-item__content
									.features-item__title Не требуется дополнительных настроек
									| Получение сетевых настроек в автоматическом режиме
									| Для большинства сетевых устройств достаточно просто подключить кабель
						.features-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
							.features-item__container
								.features-item__image
									img(src="assets/images/icons/feat-4.png", alt="#")
								.features-item__content
									.features-item__title Возможность организации логического канала
									| Устанавливается логическое IP-соединение c гарантированной пропускной способностью между точками доступа в пределах города. Точка доступа может участвовать в нескольких логических IP-соединениях.
						.features-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
							.features-item__container
								.features-item__image
									img(src="assets/images/icons/feat-5.png", alt="#")
								.features-item__content
									.features-item__title Управление услугами
									| С помощью сайта самообслуживания можно менять скорость доступа к сети Интернет, состав заказанных услуг.
						.features-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
							.features-item__container
								.features-item__image
									img(src="assets/images/icons/feat-6.png", alt="#")
								.features-item__content
									.features-item__title Удобная система оплаты услуг
									| Различные системы онлайн-платежей позволяют быстро и удобно пополнить лицевой счет.
				.block-request.internet-request
					.row.middle-lg.center-xs
						.logo.col-lg-2.col-md-3.col-sm-3
							img(src="images/logo-header.svg", alt="#")
						.request-info.col-lg-6.col-md-6.col-sm-6 Для получения более детальной информации нажмите кнопку «УЗНАТЬ ПОДРОБНЕЕ»
						.request-group.col-lg-4.col-md-3.col-sm-3
							a(href="#").btn.btn-modal Узнать подробнее
				.block-connection
					.title-connection
						.title-image
							img(src="assets/images/icons/title-i.svg", alt="#")
						| Заявление на подключение
						span.sub-title Все поля, кроме поля "Примечание" обязательны для заполнения
					.form-connection
						form(action="/", class="js-validate")
							.form-group
								label Город
								.input-group
									select(data-placeholder="Выберите город").custom-select
										option(value="kharkov") Харьков
										option(value="kiev") Киев
										option(value="mel") Мелитополь
							.form-group.toponimic-group
								label Название улицы, проспекта, др.
								.toponimic-item
									.input-group
										select.custom-select
											option(value="street") Улица
											option(value="street2", selected="selected") Проспект
											option(value="street3") Площадь
									.input-group
										input(type="text", name="address", value="", required="")
							.form-group.address-group
								.input-group
									.address-item
										label Дом
										input(type="text", value="", required="")
									.address-item
										label Подъезд
										input(type="text", value="")
									.address-item
										label Квартира (офис)
										input(type="text", value="")
							.form-group
								label Примечание
								.input-group
									textarea
							.form-group
								label Контактный телефон
								.input-group
									input(type="tel", placeholder="(___) ___-__-__", value="", required="").js-phone-mask
							.form-group
								label Контактное лицо
								.input-group
									input(type="text", value="", required="")
							.form-group
								label Скорость сети Интернет
								.input-group
									select(data-placeholder="Выберите тарифный пакет").custom-select
										option(value="kharkov") 100мб/с
										option(value="kiev") 10мб/с
										option(value="mel") 25мб/с
							.form-group.checkbox
								.input-group
									input(type="checkbox" id="global-ip")
									label(for="global-ip") Глобальный статический IP-адрес
								.input-group
									input(type="checkbox" id="telephonia")
									label(for="telephonia") Телефония
							button(type="submit").btn.btn-form отправить заявку

		include tmp/_footer