<!DOCTYPE html>
html
	include tmp/_head
	body
		include tmp/_header
		main.inner-page
			.wrapper
				.page-404
					.logo-404
						img(src="assets/images/404-logo.png", alt="")
					.title-404 Страница не найдена или не верно задан адрес.
					.sub-title-404 Чтобы вернуться к просмотру информации, воспользуйтесь, пожалуйста, верхним меню или кнопкой.
					a(href="#").btn.btn-modal на главную

		include tmp/_footer