html
	include tmp/_head
	body
		include tmp/_header
		main.inner-page
			.main-banner
				.wrapper
					.row.middle-lg.middle-md
						.banner__left-item.col-lg-8.col-md-8
							.breadcrumbs
								ul
									li
										a(href="#") Главная
									li
										a(href="#") О компании
									li
										span Новости
							.title-page Новости
			.wrapper
				.block-presscenter
					.row.center-sm
						.col-lg-4.col-md-4.col-sm-6.col-xs-12
							.presscenter-item
								.presscenter-item__publish 2 октября 2017
								.presscenter-item__title Изменение порядка подключения к УТСК
								a(href="#").btn-transition.transition-right Подробней
						.col-lg-4.col-md-4.col-sm-6.col-xs-12
							.presscenter-item
								.presscenter-item__publish 11 июля 2017
								.presscenter-item__title Обеспечение бесперебойного предоставления услуг
								a(href="#").btn-transition.transition-right Подробней
						.col-lg-4.col-md-4.col-sm-6.col-xs-12
							.presscenter-item
								.presscenter-item__publish 29 июня 2017
								.presscenter-item__title Временно не работают некоторые сервисы
								a(href="#").btn-transition.transition-right Подробней
						.col-lg-4.col-md-4.col-sm-6.col-xs-12
							.presscenter-item
								.presscenter-item__publish 18 мая 2017
								.presscenter-item__title О применении персональных специальных экономических и других ограничительных мер
								a(href="#").btn-transition.transition-right Подробней
						.col-lg-4.col-md-4.col-sm-6.col-xs-12
							.presscenter-item
								.presscenter-item__publish 28 апреля 2017
								.presscenter-item__title Переоформление договоров
								a(href="#").btn-transition.transition-right Подробней
						.col-lg-4.col-md-4.col-sm-6.col-xs-12
							.presscenter-item
								.presscenter-item__publish 23 декабря 2016
								.presscenter-item__title Изменение тарифов на услуги УТСК и ШПД
								a(href="#").btn-transition.transition-right Подробней
						.col-lg-4.col-md-4.col-sm-6.col-xs-12
							.presscenter-item
								.presscenter-item__publish 1 декабря 2016
								.presscenter-item__title Изменение тарифов на общедоступные телекоммуникационные услуги
								a(href="#").btn-transition.transition-right Подробней
						.col-lg-4.col-md-4.col-sm-6.col-xs-12
							.presscenter-item
								.presscenter-item__publish 24 марта 2016
								.presscenter-item__title Изменение тарифов на услуги УТСК
								a(href="#").btn-transition.transition-right Подробней
						.col-lg-4.col-md-4.col-sm-6.col-xs-12
							.presscenter-item
								.presscenter-item__publish 22 января 2016
								.presscenter-item__title Изменение тарифов на услуги УТСК
								a(href="#").btn-transition.transition-right Подробней
				ul.pagination
					li.pagination-prev
						a(href="#")
					li
						a(href="#") 1
					li
						a(href="#") 2
					li
						a(href="#") 3
					li
						a(href="#") 4
					li.pagination-separate
						a(href="#") ...
					li
						a(href="#") 8
					li.pagination-next
						a(href="#")


		include tmp/_footer