html
	include tmp/_head
	body
		include tmp/_header
		main.inner-page
			.main-banner
				.wrapper
					.row.middle-lg.middle-md
						.banner__left-item.col-lg-8.col-md-8
							.breadcrumbs
								ul
									li
										a(href="#") Главная
									li
										a(href="#") Новости
									li
										span Изменение порядка подключения к УТСК
							.title-page Изменение порядка подключения к УТСК
			.wrapper
				.block-presscenter.__one
					.title-presscenter Уважаемые абоненты!
					blockquote
						b С 02.10.17 г. подключение к УТСК
						|  производится без внесения аванса на услуги связи.
					.text
						p Кроме того, по ряду адресов в г. Харькове подключение услуг Интернет с использованием оптической сети будет производиться в течение одного рабочего дня: для физических лиц с момента подачи заявки на выполнение работ, для юридических лиц - с момента подписания договора.
						p Ознакомиться со списком адресов и оставить заявку на подключение можно на странице
							a(href="#")  Техническая возможность и заявление на подключение.
							|  В дальнейшем список адресов будет постоянно расширяться.
						p Срок подключения к УТСК по другим адресам, где имеется техническая возможность предоставления услуг - в течение 7 календарных дней.
					blockquote Получить ответы на интересующие Вас вопросы и оставить заявку на подключение можно по телефонам
						b *900
						|  (с номерного ресурса Компании «Велтон.Телеком»),
						b 0-800-10-00-10
						|  (с номерного ресурса любого оператора).


		include tmp/_footer