html
	include tmp/_head
	body
		include tmp/_header
		main.inner-page
			.main-banner
				.wrapper
					.row.middle-lg.middle-md
						.banner__left-item.col-lg-8.col-md-8
							.breadcrumbs
								ul
									li
										a(href="#") Главная
									li
										a(href="#") Услуги Интернет
									li
										a(href="#") Детальная информация об услуге Интернет
									li
										span Универсальный порядок оказания услуг
							.title-page Универсальный порядок оказания услуг
			.wrapper
				.block-page-service
					ul.service-menu.row
						li.col-lg-2.active
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-1.png", alt="#")
								a(href="#services1") Универсальный порядок оказания услуг
						li.col-lg-2
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-2.png", alt="#")
								a(href="#services2") Заявление на подключение
						li.col-lg-2
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-3.png", alt="#")
								a(href="#services3") Тарифы
						li.col-lg-2
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-4.png", alt="#")
								a(href="#services4") Документы
						li.col-lg-2
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-5.png", alt="#")
								a(href="#services5") Персональная карта абонента
						li.col-lg-2
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-6.png", alt="#")
								a(href="#services6") Технические дилеры
					.service-info
							.service-info__navigation
								a(href="#info1").service-info__item.js-anchor-service Универсальный порядок оказания услуг
								a(href="#info2").service-info__item.js-anchor-service Порядок оплаты услуг
							.service-info__content(id="info1")
								.service-info__title Универсальный порядок оказания услуг
								ol
									li В абонентную плату за доступ к сети Интернет входит плата за логическое IP соединение c гарантированной пропускной способностью между точками доступа в пределах города.
										ul.list-content
											li Скорость логического IP соединения соответствует минимальной скорости точки доступа, входящей в соединение. Точка доступа может участвовать в нескольких логических IP соединениях.
											li Логическое IP соединение в каждой точке доступа, входящей в соединение, предоставляется на порт Интернет, в отдельном VLAN, с маршрутизацией через оборудование абонента.
											li Для подключения данной услуги абоненту необходимо приобрести дополнительное оборудование (управляемый коммутатор с поддержкой 802.1Q VLAN).
									li Предоставляется глобальный динамический IP-адрес или, за дополнительную плату, глобальный статический IP-адрес.
										ul.list-content
											li При переходе с пакета с гарантированной скоростью доступа к сети Интернет на пакет с негарантированной скоростью доступа и наоборот, глобальный статический IP-адрес изменяется.
									li Применяется для абонентов, заказавших услугу до 01.03.15 г.
										ul.list-content
											li Возврат на данный тарифный пакет невозможен в случае, если абонент произвел замену этого тарифного пакета на другой действующий тарифный пакет.
									li Применяется для абонентов, заказавших услугу до 01.02.15 г.
										ul.list-content
											li Возврат на данный тарифный пакет невозможен в случае, если абонент произвел замену этого тарифного пакета на другой действующий тарифный пакет.
											li Услуга предоставляется пакетно при использовании не менее 1 (одного) телефонного номера.
											li При отказе абонента от всех телефонных номеров, входящих в тарифный пакет, абонент имеет возможность сменить пакет услуг или расторгнуть договор.
									li Тарификация телефонных переговоров посекундная, за исключением предварительного заказа.
									li Для абонентов, которые подключили услугу телефонии с 01.10.2015г.
										ul.list-content
											li Исключением являются новые договора, заключаемые в связи с переустановкой точки доступа либо ее переоформлением на правопреемника.
											li При подключении услуг телефонии с использованием каналов доступа к сети Интернет плата за пользование телефонными портами не взимается.
									li Для абонентов, которые подключили услугу телефонии до 01.04.2015г., ежемесячно предоставляется 40% скидка на величину абонентной платы за пользование одним из предоставленных телефонных номеров в рамках каждого из заключенных договоров.
										ul.list-content
											li Для абонентов, которые заключили договор с 01.04.2015г., ежемесячно предоставляется скидка в размере 40% на величину абонентной платы на каждый телефонный номер.
									li В нежилых помещениях, право собственности на которые имеют физические лица, применяется тариф как для юридических лиц.
									li Кол-во минут разговоров на сети операторов сотовой мобильной связи, которое превышает 500 (пятьсот) минут, из расчета на один телефонный номер, оплачивается абонентом по тарифу 1,20 (одна грн. 20 коп.) грн.
							.service-info__content(id="info2")
								.service-info__title Порядок оплаты услуг
								ol
									li В абонентную плату за доступ к сети Интернет входит плата за логическое IP соединение c гарантированной пропускной способностью между точками доступа в пределах города.
										ul.list-content
											li Скорость логического IP соединения соответствует минимальной скорости точки доступа, входящей в соединение. Точка доступа может участвовать в нескольких логических IP соединениях.
											li Логическое IP соединение в каждой точке доступа, входящей в соединение, предоставляется на порт Интернет, в отдельном VLAN, с маршрутизацией через оборудование абонента.
											li Для подключения данной услуги абоненту необходимо приобрести дополнительное оборудование (управляемый коммутатор с поддержкой 802.1Q VLAN).
									li Предоставляется глобальный динамический IP-адрес или, за дополнительную плату, глобальный статический IP-адрес.
										ul.list-content
											li При переходе с пакета с гарантированной скоростью доступа к сети Интернет на пакет с негарантированной скоростью доступа и наоборот, глобальный статический IP-адрес изменяется.


		include tmp/_footer