html
	include tmp/_head
	body
		include tmp/_header
		main.inner-page
			.main-banner
				.wrapper
					.row.middle-lg.middle-md
						.banner__left-item.col-lg-8.col-md-8
							.breadcrumbs
								ul
									li
										a(href="#") Главная
									li
										a(href="#") Услуги Интернет
									li
										a(href="#") Детальная информация об услуге Интернет
									li
										span Тарифы
							.title-page Тарифы
			.wrapper
				.block-page-service
					ul.service-menu.row
						li.col-lg-2
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-1.png", alt="#")
								a(href="#services1") Универсальный порядок оказания услуг
						li.col-lg-2
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-2.png", alt="#")
								a(href="#services2") Заявление на подключение
						li.col-lg-2.active
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-3.png", alt="#")
								a(href="#services3") Тарифы
						li.col-lg-2
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-4.png", alt="#")
								a(href="#services4") Документы
						li.col-lg-2
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-5.png", alt="#")
								a(href="#services5") Персональная карта абонента
						li.col-lg-2
							.service-menu__container
								.service-menu__image
									img(src="assets/images/icons/ser-6.png", alt="#")
								a(href="#services6") Технические дилеры
					.service-table
						.text Скорость логического IP соединения соответствует минимальной скорости точки доступа, входящей в соединение. Точка доступа может участвовать в нескольких логических IP соединениях. Логическое IP соединение в каждой точке доступа, входящей в соединение, предоставляется на порт Интернет, в отдельном VLAN, с маршрутизацией через оборудование абонента. Для подключения данной услуги абоненту необходимо приобрести дополнительное оборудование (управляемый коммутатор с поддержкой 802.1Q VLAN).
						.table-container
							table
								thead
									th Наименование услуги
									th Стоимость
								tbody
									tr
										td(colspan="2").table-title Единоразовые платежи
									tr
										td Подключение
										td 84,00 грн.
									tr
										td Минимальный аванс на услуги связи при подключении
										td 150,00 грн.
									tr
										td(colspan="2").table-title Единомесячные платежи
									tr
										td.separate-row Абонентная плата за основной телефонный номер
											.separate-text
												span C повременной оплатой местных переговоров
													sup 5
												span Без повременной оплаты местных переговоров
													sup 1
										td.separate-price
											.separate-text
												span 47,17 грн.
												span 49,12 грн.
									tr
										td Абонентная плата за параллельный телефонный аппарат, который установлен у разных абонентов (с каждого абонента) в разных помещениях (комнатах, зданиях)
										td 29,47 грн.
									tr
										td Ежемесячная плата за бронирование абонентского порта в номерной емкости АТС и, в случае необходимости, пары в магистральном и (или) распределительном кабеле для подключения телефонного номера, предоставления цифрового потока ISDN PRI (30B+D) (E1 по стыку G.703 с сигнализацией R2D) (не более чем на 12 месяцев)
										td 47,17 грн.
									tr
										td Бесплатные секунды местной связи, входящие в абонплату
										td 10 000 секунд
									tr
										td(colspan="2").table-title Повременная оплата
											sup 2
									tr
										td Местная связь, за 1 секунду
										td 0,0009 грн.
									tr
										td Междугородная связь в пределах области и Украины, за 1 минуту
										td(rowspan="2")
											a(href="#") Действующие тарифы
									tr
										td Международная связь, за 1 минуту
									tr
										td Звонки на сети операторов сотовой мобильной связи (кроме ЗАО "Телесистемы Украины" (ТМ PEOPLE net) по коду 092), за 1 минуту
										td 1,20 грн.
									tr
										td Звонки на сеть ЗАО "Телесистемы Украины" (ТМ PEOPLE net) по коду 092, за 1 минуту
										td 0,96 грн.
									tr
										td Звонки на номерной ресурс ООО "Восток.Телеком" 700 10  ХХ ХХ, за 1 минуту
										td 0,40 грн.
									tr
										td Звонки на номерной ресурс ООО "Восток.Телеком" 700 10  ХХ ХХ, за 1 минуту
										td 0,40 грн.
									tr
										td Звонки на номерной ресурс СП ООО "ИТК" 700 90  ХХ ХХ, за 1 минуту
										td 0,96 грн.
									tr
										td(colspan="2").table-title Сервисные услуги
									tr
										td Ежемесячная плата за услугу беспарольного доступа к сети Интернет
											sup 3
										td 30,00 грн.
									tr
										td Конференцсвязь и конференцсвязь с перенаправлением вызова
										td 2,00 грн.
									tr
										td Переадресация (все виды)
										td не взим.
									tr
										td Тест звонка
										td не взим.
									tr
										td Всегда "занято" - не беспокоить
										td 1,00 грн.
									tr
										td Услуга АОН (caller id)
											sup 4
										td не взим.
									tr
										td Уведомление о входящем вызове
										td 2,00 грн.
						.text
							ul
								li
									sup.left 1
									| Применяется для абонентов категории "Для населения", которые в соответствии с действующим законодательством Украины имеют льготу в виде неоплаты местных переговоров с квартирных телефонов.
								li
									sup.left 2
									| Повременная оплата за одну минуту соединения, тарификация посекундная.
								li
									sup.left 3
									| Вне зависимости от времени соединения и потребленного трафика. Услуга предоставляется автоматически. Ежемесячная плата взимается в случае, если абонент в течение расчетного месяца воспользовался услугой беспарольного доступа к сети Интернет.
								li
									sup.left 4
									| Автоматическое определение номера. Услуга работает только с телефонными аппаратами, поддерживающими функцию caller id.
								li
									sup.left 5
									| В нежилых помещениях, право собственности на которые имеют физические лица, применяется тариф как для юридических лиц.
								li
									sup.left 6
									| Абонент имеет право на бесплатное получение расшифровки начисленной к оплате суммы за предоставленные услуги за тот расчетный период, к которому он имеет претензии. Такая расшифровка предоставляется по личному обращению абонента с учетом технической возможности оборудования телекоммуникационной сети.
							p Все тарифы указаны с учетом НДС.
							p При потреблении услуг связи на сумму свыше 50 грн. предоставляется
								a(href="#")  скидка
					.service-request
						.row
							.col-lg-6.col-md-6.col-sm-6.col-xs-12
								.service-request__item.service-request__color
									.service-request__image
										img(src="images/logo-header.svg", alt="#")
									.service-request__info.
										Готовы оформить заявку на предоставление услуги?
										Заполните форму, мы свяжемся с вами!
									a(href="#").btn.btn-modal Заполнить заявку
							.col-lg-6.col-md-6.col-sm-6.col-xs-12
								.service-request__item
									.service-request__image
										img(src="assets/images/icons/req-1.png", alt="#")
									.service-request__info.
										Проверка состояния счета по персональному
										коду абонента
									a(href="#").btn.btn-subscribe Проверить в личном кабинете


		include tmp/_footer