html
	include tmp/_head
	body
		include tmp/_header
		main.inner-page
			.main-banner
				.wrapper
					.row.middle-lg.middle-md
						.banner__left-item.col-lg-8.col-md-8
							.breadcrumbs
								ul
									li
										a(href="#") Главная
									li
										a(href="#") Технологии
									li
										span Ethernet
							.title-page Ethernet
			.wrapper
				.block-technology
					.title-technology Технология Ethernet
					p Ethernet - самый распространенный на сегодняшний день стандарт локальных сетей, основанный на технологиях экспериментальной сети Ethernet Network, которую фирма Xerox разработала и реализовала в 1975 году (еще до появления персонального компьютера). Метод доступа был опробован еще раньше: во второй половине 60-х годов в радиосети Гавайского университета использовались различные варианты случайного доступа к общей радиосреде, получившие общее название Aloha. В 1980 году фирмы DEC, Intel и Xerox совместно разработали и опубликовали стандарт Ethernet версии II для сети, построенной на основе коаксиального кабеля.
					.image
						img(src="assets/images/one-tech.png", alt="#")
					p В широком смысле Ethernet - это целое семейство технологий, включающее различные фирменные и стандартные варианты, из которых наиболее известны фирменный вариант Ethernet DIX, 10-мегабитные варианты стандарта IEEE 802.3, а также новые высокоскоростные технологии Fast Ethernet и Gigabit Ethernet. Почти во всех видах технологий Ethernet использует один и тот же метод разделения среды передачи данных - метод случайного доступа CSMA/CD, который определяет облик технологии в целом.
					p Сеть Ethernet может иметь шинную (все устройства подключаются к общему кабелю) или звездную топологию. В качестве среды передачи может быть использована витая пара, коаксиальный или оптоволоконный кабель, а также радиочастоты (RadioEthernet). Наиболее популярной реализацией Ethernet является 10Base-T. В настоящее время существует несколько реализаций этой популярной технологии: Fast Ethernet (скорость передачи 100 Мбит/с) и Gigabit Ethernet (скорость передачи 1000 Мбит/с). Ведутся работы по созданию Terabit Ethernet (скорость передачи 10 тыс. Мбит/с).
				.block-request.request-center
					.row.middle-lg.middle-sm.middle-md.center-xs
						.logo.col-lg-2.col-md-3.col-sm-3
							img(src="images/logo-header.svg", alt="#")
						.request-info.col-lg-6.col-md-6.col-sm-6 Готовы оформить заявку на предоставление услуги? Заполните форму, мы свяжемся с Вами!
						.request-group.col-lg-4.col-md-3.col-sm-3
							a(href="#").btn.btn-modal Заполнить заявку

		include tmp/_footer