html
	include tmp/_head
	body
		include tmp/_header
		main.inner-page
			.main-banner
				.wrapper
					.row.middle-lg.middle-md
						.banner__left-item.col-lg-8.col-md-8
							.breadcrumbs
								ul
									li
										a(href="#") Главная
									li
										span Виртуальный центр обслуживания абнонентов
							.title-page Виртуальный центр обслуживания абнонентов
			.wrapper
				.block-virtualcenter
					.row
						.col-lg-3.col-md-3.col-sm-4.col-xs-6
							a(href="#").virtualcenter-item
								.virtualcenter-item__image
									img(src="assets/images/icons/vir-1.svg", alt="#")
								.virtualcenter-item__title Проверка состояния счёта
						.col-lg-3.col-md-3.col-sm-4.col-xs-6
							a(href="#").virtualcenter-item
								.virtualcenter-item__image
									img(src="assets/images/icons/vir-2.svg", alt="#")
								.virtualcenter-item__title Заполнить заявку на приобретение услуги
						.col-lg-3.col-md-3.col-sm-4.col-xs-6
							a(href="#").virtualcenter-item
								.virtualcenter-item__image
									img(src="assets/images/icons/vir-3.svg", alt="#")
								.virtualcenter-item__title Как оформить договор
						.col-lg-3.col-md-3.col-sm-4.col-xs-6
							a(href="#").virtualcenter-item
								.virtualcenter-item__image
									img(src="assets/images/icons/vir-4.svg", alt="#")
								.virtualcenter-item__title Перечень документов, необходимых для заключения договора
						.col-lg-3.col-md-3.col-sm-4.col-xs-6
							a(href="#").virtualcenter-item
								.virtualcenter-item__image
									img(src="assets/images/icons/vir-5.svg", alt="#")
								.virtualcenter-item__title Бланки писем в формате PDF
						.col-lg-3.col-md-3.col-sm-4.col-xs-6
							a(href="#").virtualcenter-item
								.virtualcenter-item__image
									img(src="assets/images/icons/vir-6.svg", alt="#")
								.virtualcenter-item__title Часто задаваемые вопросы
						.col-lg-3.col-md-3.col-sm-4.col-xs-6
							a(href="#").virtualcenter-item
								.virtualcenter-item__image
									img(src="assets/images/icons/vir-7.svg", alt="#")
								.virtualcenter-item__title Обслуживание абонентов


		include tmp/_footer